body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font: inherit;
}
img {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2%;
}
header {
  height: 20em;
  border-bottom: 5px solid black;
}

.langue {
  display: flex;
  justify-content: end;

  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2%;
  margin-top: 2%;
}

.catégories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 2px solid rgb(128, 127, 127);
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 3em;
}
.dessins {
  display: flex;
  margin-left: 2%;
}
.sculptures {
  display: flex;
  margin-right: 2%;
}

.cat1 {
  display: flex;
  justify-content: center;
  margin-right: 5%;
}

h2 {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.bio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
  display: flex;
  justify-content: end;
  margin-right: 1em;
}
.linkbio {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: x-large;
  display: flex;
  justify-content: end;
  color: rgb(231, 95, 31);
  margin-right: 2em;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 100px;

  background-color: rgb(255, 255, 255);
  margin-top: 2%;
  overflow-y: scroll;
  height: 1000px;
}

.range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid rgba(169, 169, 169, 0.25);
  padding-bottom: 3em;
  margin-left: 1em;
  margin-right: 1em;

  /* background-color: red; */
}

.tupac {
  border: 50px solid white;
  margin-left: 1em;
  margin-top: 0.5em;
  width: 24em;
  height: 24em;
}

.texte {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  align-content: flex-end;
  font-size: 0.75em;
  margin-left: 70%;
}

.bre {
  width: 100%;
  height: 30em;

  margin-top: 1em;
}

.texte2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: end;
  font-size: 0.75em;
  margin-left: 75%;
}

.range2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 5px solid rgba(169, 169, 169, 0.25);
  padding-bottom: 3em;
}

.blueresto {
  width: 35em;
  height: 26em;
}
.texte3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: end;
  font-size: 0.75em;
  margin-left: 75%;
}

.dive {
  width: 38em;
  height: 32em;
  margin-right: 5em;
}
.texte4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: end;
  font-size: 0.75em;
  margin-left: 75%;
}
.range3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 5px solid rgba(169, 169, 169, 0.25);
  padding-bottom: 3em;
  margin-left: 1em;
  margin-right: 1em;
  height: 700px;
  /* background-color: purple; */
}

.asso1 {
  height: 400px;
  width: 1360px;
  margin-left: 4em;
  opacity: 0.7;
}

.VIEW {
  background-color: white;
  width: 15em;
  height: 7em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(8, 8, 8);
  border: 2px solid rgb(0, 0, 0);
  margin-right: 50em;
  margin-top: 18em;
}

.exp {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(14, 14, 14);
  font-size: 2em;
}

footer {
  background-color: rgb(255, 255, 255);
  margin-top: 2em;
}

.mentions {
  color: rgb(0, 0, 0);

  margin-left: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5em;
  margin-bottom: 2%;
  margin-top: 2%;
}

.instagram {
  height: 20px;
  width: 20px;

  margin-top: 3em;
}

.mail {
  display: flex;
  justify-content: end;
  height: 20px;
  margin-right: 10%;
  margin-top: 3em;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-top: 5px solid black;
  margin-top: 5%;
}

@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .langue {
    background-color: yellow;
  }
  .catégories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3px;
  }
}
