@charset "UTF-8";

@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }
  .nom {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
  }

  .section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
  }

  header {
    border-bottom: 3px solid black;
  }

  .textim {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
  }

  .prix {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    border: 3px solid black;
    padding: 2em;
    display: flex;
    justify-content: center;
  }

  .inq {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    border: 3px solid black;
    padding: 2em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .dessin {
    img {
      background-color: purple;
      width: 25em;
      height: 32em;
      position: relative;
      margin-top: 2em;
    }
  }

  .image {
    border-bottom: 3px solid black;
  }
}
.insta {
  width: 2em;
}
