@media (max-width: 600px) {
  body {
    background-color: rgb(230, 226, 173);

    ul {
      display: inline-block;
      column-count: 1;
      padding: 0;
      margin: 0;
    }
    .retour {
      display: flex;
      justify-content: end;

      position: absolute;
      top: 0;
      right: 0;
      margin-right: 3em;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .return {
      width: 1.5em;
    }

    h1 {
      font-size: 3em;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 3em;
    }
    body {
      width: 100vw;
      height: 100vw;
      background-image: url("scultptures/m1.jpg");
      background-size: cover;
    }

    .tableau {
      background-color: rgb(255, 255, 255, 0.5);

      width: 20em;
      height: 80em;
      margin-left: 3em;
      border: 2px solid black;
    }
    .achat {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.75em;
      list-style-type: none;

      margin-top: 5em;
      margin-left: 0.5em;
      width: 20em;
    }

    .wrapper {
      position: relative;
    }

    form {
      width: 5em;
      height: 15em;

      padding: 1em;
      border: 1px solid #ccc;
    }

    ul {
      display: inline-block;
      column-count: 1;
      padding: 0;
      margin: 0;
    }

    form li + li {
      list-style-type: none;
      margin-top: 3em;
    }

    label {
      /* Taille et alignement uniformes */
      display: inline-block;
      column-count: 1;
      width: 5em;
      text-align: center;
    }

    input,
    textarea {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2em;

      width: 300px;
      box-sizing: content-box;

      border: 2px solid #0f0f0f;
    }

    input:focus,
    textarea:focus {
      border-color: #000;
    }

    .envoi {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      list-style-type: none;
      width: 10em;
      background-color: rebeccapurple;
    }
    /* je n'arrive pas aligner l envoi dans le tableau!!!!! */
  }

  .instagram {
    background-color: yellow;
    width: 2em;
    height: 5em;
    margin-bottom: 3%;
    margin-left: 20%;
  }

  .mail {
    background-color: red;

    width: 2em;
    height: 5em;
  }

  footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-top: 5px solid black;
    margin-top: 5%;
  }
}

body {
  width: 100vw;
  background-image: url("scultptures/s1.jpg");
  background-size: cover;
}

.wrapper {
  position: relative;
}

form {
  margin: 0 auto;
  width: 450px;
  height: 500px;

  padding: 1em;
  border: 1px solid #ccc;
}

ul {
  display: inline-block;
  column-count: 2;
  padding: 50;
  margin: 0;
}

form li + li {
  list-style-type: none;
  margin-top: 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/* le label nom n est pas pris en compte dans le changement des li??? */

label {
  display: flex;
  flex-direction: column;
  column-count: 1;
  width: 15em;
  margin-top: 5em;
  text-align: center;
}

input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;

  width: 300px;
  box-sizing: content-box;

  border: 2px solid #0f0f0f;
  background-color: rgb(255, 255, 255, 0.4);
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  height: 16em;

  width: 19em;
  margin-top: 2em;
}

.noms {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.mel {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.mesg {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.tableau {
  background-color: rgba(231, 234, 236, 0.5);

  width: 82em;
  height: 45em;
  margin-left: 2em;
  border: 2px solid black;
}

.envoi {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  list-style-type: none;
  width: 10em;

  margin-top: 0.5em;

  margin-left: 60em;
}

h1 {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2%;
}

.retour {
  display: flex;
  justify-content: end;

  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5%;
  margin-top: 2.3%;
}

.return {
  width: 1.5em;
}

.langue {
  display: flex;
  justify-content: end;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2%;
  margin-top: 2%;
}

.catégories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 5px solid black;
  margin-left: 1%;
  margin-right: 1%;
}
.dessins {
  display: flex;
  margin-left: 2%;
}
.sculptures {
  display: flex;
  margin-right: 2%;
}

.cat1 {
  display: flex;
  justify-content: center;
  margin-right: 5%;
}

h2 {
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
}

.mentions {
  margin-left: 1%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5em;
  margin-bottom: 2%;
  margin-top: 2%;
}

.instagram {
  height: 20px;
  width: 20px;
  margin-bottom: 3%;
  margin-left: 20%;
}

.mail {
  display: flex;
  justify-content: end;
  height: 30px;
  margin-right: 2%;
  margin-bottom: 2%;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-top: 5px solid black;
  margin-top: 5%;
}
